<h1>Your books</h1>
<a href="/books/add-book">Add a book</a>
<div class="container">
      {{#each books}}
        <div class="infoCard">
            <h3>{{ this.title }}</h3>
            {{#if this.coverArt}}
            <a href="/books/details/{{ this._id }}"><img src="{{ this.coverArt }}" alt="{{ this.title }} cover art"></a>
            {{else}}
            <a href="/books/details/{{ this._id }}"><img src="/images/default.jpg" alt="{{ this.title }} cover art"></a>
            {{/if}}
        </div>
    {{/each}}  
</div>