<div class="author-wrapper">

    <h2>{{ _doc.firstName }} {{ _doc.lastName }}</h2>

    {{#if edit}}
        <form action="/authors/update/{{_doc._id}}" method="post">
            <label for="inputFirstName">Fist name: <input id="inputFirstName" type="text" name="firstName" value="{{_doc.firstName}}"></label><br>
            <br>
            <label for="inputLastName">Last name: <input id="inputLastName" type="text" name="lastName" value="{{_doc.lastName}}"></label><br>
            <br>
            <label for="inputDatOfBirth">DOB: <input id="inputDatOfBirth" type="text" name="dob" value="{{_doc.dob}}"></label><br>
            <br>
            <label for="inputPicture">Picture: <input id="inputPicture" type="text" name="picture" value="{{_doc.picture}}"></label><br>
            <br>
            <div>
                {{#each books}}
                    <div>
                        <input id="input{{@index}}" name="books" type="checkbox" value="{{_id}}">
                        <label for="input{{@index}}">{{title}}</label>
                    </div>
                {{/each}}
            </div>
            <button>Update</button>
        </form>
        <br>
    {{else}}

        <img src="{{ _doc.picture }}" alt="Picture of {{ _doc.firstName }} {{ _doc.lastName }}">
        <h4>BOD: {{ _doc.dob }}</h4>

        <div>
            <form action="/authors/delete/{{ _doc._id }}" method="post">
            <button>Delete</button>
            </form>
            <form action="/authors/details/edit/{{_doc._id}}" method="get">
            <button>Edit Details</button>
            </form>
        </div>

        <br>

        <h3><u>Books</u></h3>
        <br>
        <div class="authorsBooks">
            {{#each _doc.books}}
            <div>
                <h3><u>{{title}}</u></h3>
                <a href="/books/details/{{_id}}"><img src="{{coverArt}}" alt="Cover art for {{title}}"></a>
                <form action="/authors/remove-book/{{../_doc._id}}/{{_id}}" method="post">
                    <button>Remove</button>
                </form>
                <br>
            </div>
            {{/each}}
        </div>

    {{/if}}
</div>


